<mat-toolbar class="bg-success">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>done_all</mat-icon>
  </button>
  <span class="text-white">To Do Aplication</span>
  <span class="example-spacer"></span>

  <button mat-raised-button class="bg-light "  (click)="openDialog()">Adicionar Tarefa</button>
  
</mat-toolbar>

<div  class="container ">

  <div>

    <mat-form-field class="mat-elevation-z8 mt-5 p-3 bg-light rounded" appearance="standard">
      <mat-label>Filtrar Tarefas</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Projeto..." #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8 mt-5">
                  <table  mat-table [dataSource]="dataSource" matSort>
                
                    <!-- Tasks Column -->
                    <ng-container matColumnDef="taskName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarefa </th>
                      <td mat-cell *matCellDef="let row"> {{row.taskName}} </td>
                    </ng-container>
                
                    <!-- Description Column -->
                    <ng-container matColumnDef="descriptionTask">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição da Tarefa </th>
                      <td mat-cell *matCellDef="let row"> {{row.descriptionTask}} </td>
                    </ng-container>
                
                    <!-- Category Column -->
                    <ng-container matColumnDef="categoryTask">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria da Tarefa </th>
                      <td mat-cell *matCellDef="let row"> {{row.categoryTask}} </td>
                    </ng-container>
                
                    <!-- Date Column -->
                    <ng-container matColumnDef="dateTask">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Conclusão da Tarefa </th>
                      <td mat-cell *matCellDef="let row"> {{row.dateTask | date}} </td>
                    </ng-container>

                    <!-- Person Column -->
                    <ng-container matColumnDef="assignedPerson">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pessoa atribuida </th>
                      <td mat-cell *matCellDef="let row"> {{row.assignedPerson}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="statusTask">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                      <td mat-cell *matCellDef="let row"> {{row.statusTask}}</td>
                    </ng-container>

                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar/Apagar </th>
                      <td mat-cell *matCellDef="let row"> 
                        <button mat-icon-button (click)="editTask(row)" color="primary"> 
                        <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="deleteTask(row.id)" mat-icon-button color="warn" > <mat-icon>delete</mat-icon></button>
                      </td>
                    </ng-container>




                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>

  </div>
</div>